/Admin.java
/AdminPage.fxml
/AutomationRules.fxml
/Database.java
/LoginPage.fxml
/Person.java
/PersonRole.java
/SHClient.class
/SHClient.java
/SHClientApplication.java
/SHClientController.java
/SHServer.class
/SHServer.java
/SHServerApplication.class
/SHServerApplication.java
/SHServerController.class
/SHServerController.java
/Signup.fxml
/SmartDevice.class
/SmartDevice.java
/SmartDoorbell.class
/SmartDoorbell.fxml
/SmartDoorbell.java
/SmartDoorbellAutomation.fxml
/SmartHomeAutomation.fxml
/SmartLight.class
/SmartLight.fxml
/SmartLight.java
/SmartLightAutomation.fxml
/SmartLock.class
/SmartLock.fxml
/SmartLock.java
/SmartLockAutomation.fxml
/SmartThermostat.fxml
/SmartThermostatAutomation.fxml
/Thermostat.class
/Thermostat.java
/User.java
/UserDB.java
/VacuumRobot.class
/VacuumRobot.fxml
/VacuumRobot.java
/VacuumRobotAutomation.fxml
/ViewDevices.fxml
/Welcome.fxml
/bulb.png
/doorbell.png
/home.png
/lock.png
/pull_test
/thermostat.png
/vacuum.png
